* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, 'Lucida Grande', sans-serif;
}

body {
  text-align: center;
  color: white;
  background-color: #282c34;
  height: 100vh;
}

h1 {
  color: #61dafb;
  font-size: 2em;
}

.container {
  width: 60vw;
  min-width: 480px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);

}

.tweet-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1em;
  border: 2px solid white;
}

.tweet-card .profile-photo {
  flex-grow: 1;
}

.tweet-card .content {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet-card .content div {
  width: 100%;
}

.flex-row {
  display: flex;
}

.fas.fa-heart {
  color: gray;
}

.fas.fa-heart.liked {
  color: red;
}
